.footer-div-info:hover{
    color: gray;
    cursor: pointer;    
}
.socsety:hover{
    transform: scale(1.1);
    transition: 0.7s;
}
.uznat-bolshe{
  display: none;
}
.elem:hover{
    transform: scale(1.04 );
    transition: 0.7s;
    cursor: pointer;
}
/* css code of swiper js  */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perevody:hover{
    transform: scale(1.05);
    transition: 0.7s;
    cursor: pointer;
}
.sumho:hover{
  transform: rotate(70deg);
  transition: 1s;
  cursor: pointer;
  filter: grayscale(1);
}
  .swiper {
    width: 100%;
    height: 100%; 
    border-radius: 10px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
  /* .card{
    background-image: url(./assets/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
.div-deposit:hover{
    transform: scale(1.02);
    transition: 0.7s;
    cursor: pointer;
}
.bankCard-image:hover{
    transform: scale(1.05);
    transition: 0.7s;
    cursor: pointer;
}
.zayavka-div:hover{
    transform: scale(1.05);
    transition: 0.7s;
    cursor: pointer;
}
.biznes-div:hover{
    transform: scale(1.05);
    transition: 0.7s;
    cursor: pointer;
}
.div-credits:hover{
  transform: scale(1.05);
    transition: 0.7s;
    cursor: pointer;
}
/* .back-div-home{
  background-image: url(../src/assets/Bank.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
} */
.modal-div{
  transition: 1.5s;
  animation: example 1s linear;
}
@keyframes example{
  from {transform: translateX(+120px);}
  to {transform: translateY(0);}
}
.div-about{
  background-image: url("../src/assets/fon-image2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.rukovodstva-glav-div{
  background-image: url("../src/assets/fon-image2.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}